.main{
    text-align: center;
    margin-top: 90px;
}
.main-title{
    font-family: 'Salsa', cursive;
    font-weight: 900;
    font-size: 2.25rem;
}
.main h3 a{
    color: black;
}
.main h3{
    font-size: 1.25rem;
    font-weight: 500;
    color: red;
}
.main h3 span{
    color: plum;
    font-weight: 900;
    font-size: 1.25rem;
}
.select-content{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.select_title{
    font-size: 1.75rem;
    font-weight: 900;
    font-family: 'Salsa', cursive;
}
.log{
    width: 187px;
    font-size: 1.25rem;
    font-weight: 900;
    padding: 13px;
    border: solid 6px pink;
    border-radius: 20px;
}
.shaow_img{
    width: 90px;
    position: relative;
    left: 13px;
}