.subbtn-content{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.sub_btn{
    width: 480px;
    height: 30px;
    font-size: 1.55rem;
    font-weight: 900;
    border-radius: 10px;
    border: 1px solid pink;
    background-color: pink;
    color: white;
    margin: 5px;
}
.result_btn:hover{opacity: 0.5;}
.matching_btn:hover{opacity: 0.5;}
.inspect_btn:hover{opacity: 0.5;}

.sharebtn_content h3{
    margin-top: 20px;
    color: plum;
    font-size: 1.25rem;
    font-weight: 700;
}
.share_btn{
    background-color: white;
    margin: 15px;
    border: none;
}
.share_btn:hover{
    opacity: 0.5;
}