*{
    background-color: aqua;
    text-align: center;
}
.snowman{
    margin-top: 50px;
}
.snow_head, .snow_body, .snow_foot{
    background-color: white;
    border: 1px solid;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.snow_head, .snow_hat1, .snow_hat2{
    position: relative;
    top: 20px;
}
.snow_head-face_mouth{
    background-color: black;
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 40px;
    height: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.snow_head-face_eyes1{
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: relative;
    float: left;
    top: 25px;
    left: 25px;
}
.snow_head-face_eyes2{
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: relative;
    left: 60px;
    top: 25px;
}
.snow_body{
    border-radius: 100px;
    width: 130px;
    height: 130px;
    position: relative;
    z-index: 2;
}
.snow_arm1{
    border: 1px solid brown;
    background-color: brown;
    width: 150px;
    height: 5px;
    position: relative;
    top :40px;
    transform: rotate(30deg);
    z-index: 1;
    display: inline-block;
}
.snow_arm2{
    border: 1px solid brown;
    background-color: brown;
    width: 150px;
    height: 5px;
    position: relative;
    top: 40px;
    transform: rotate(155deg);
    display: inline-block;
}
.snow_body_point{
    background-color: black;
    border: 1px black;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}
.snow_foot{ 
    border-radius: 150px;
    width: 160px;
    height: 160px;

}
.snow_hat1, .snow_hat2{
    background-color: black;
    border: 1px solid black;
    width: 65px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
}
.snow_hat2{
    height: 15px;
    width: 100px;
}
#copy{
    position: relative;
    left: 100px;
}
