body{
    background-color: gray;
}
#caption{
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    border: 5px solid white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 40px;
}
#container{
    color: white;
    position: relative;
    margin: 0 auto;
}
.table{
    background-color: black;
    font-size: 1.25rem;
    text-align: center;
    border: 5px solid white;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.button{
    text-align: center;
    margin-left: 272px;
    margin-right: 272px;
    border: 5px solid white;
    height: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: black;
}
.btn{
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    font-weight: 700;
}
.btn:hover{
    background-color: grey;
}